.container-main-motoristas {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.box-input-filter {
  display: flex;
  width: 100%;
  height: 130px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.box-motoristas-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 50vh;
  width: 60vw;

  overflow: scroll;
  overflow-x: hidden;
}

.box-motoristas-card::-webkit-scrollbar {
  width: 7px;
  background-color: var(--main-yellow);
  border-radius: 15px;
}

.box-motoristas-card::-webkit-scrollbar-thumb {
  background-color: var(--button-contract-yellow);
  border-radius: 15px;
}

#select-filter-container {
  display: flex;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(33, 33, 33, 0.25);
  border-radius: 35px;
  border: none;
  text-decoration: none;
  width: 300px;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inputs {
  display: flex;
  height: 100%;
}

@media (max-width: 1350px) {
  .box-motoristas-card {
    width: 90vw;
  }
}
