.container-main-da-user {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.container-form-register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
