.input-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.input-contract {
  border: none;
  border-radius: 10px;
  padding: 1.5rem 1.5rem;
  width: 20rem;
  font-size: 1.5rem;
  font-weight: 300;
  outline: none;
}

.inputs-more-infos {
  border: none;
  border-radius: 10px;
  padding: 1.5rem 1.5rem;
  width: 23vw;
  font-size: 1.5rem;
  font-weight: 300;
  outline: none;
}

.placeholder {
  font-weight: 600;
}
