#root {
  height: 100vh;
}

.body-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.195),
      rgba(0, 0, 0, 0.166),
      rgba(0, 0, 0, 0)
    ),
    url(https://firebasestorage.googleapis.com/v0/b/tcc-project-firebase.appspot.com/o/imgs%2Fbackground.png?alt=media&token=3346dbfc-76db-4217-a281-aadd33b8daac);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
