.box-all-main {
  background-color: var(--main-yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
  gap: 50px;
}
.local-cep {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.h1-localize-se {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  color: white;
}

.h1-localize-se h1 {
  font-size: 4rem;
  font-family: "Mansalva", cursive;
  text-align: center;
}

.inputs-search {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 30px;
  padding-left: 10%;
  padding-right: 10%;
}
.search-cep,
.search-number,
.search-complement {
  position: absolute;
  padding-left: 16px;
  font-size: 2rem;
  user-select: none;
  z-index: 1;
  color: var(--main-yellow);
}

.input {
  border: none;
  font-size: 1.2rem;
  font-family: "Poppins";
  padding-left: 50px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
  border-radius: 40px;
  height: 100%;
  width: 100%;
}

.inputs {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  height: 6vh;
}

.input-casa-complemento {
  display: flex;
  width: 50%;
  gap: 30px;
}

.cep {
  flex-grow: 1;
}

.map-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
}

.map {
  border-radius: 20px;
  flex-grow: 1;
}
