.text-container {
  display: flex;
  align-items: center;
  gap: 2vw;
  font-size: 1.3rem;
  font-weight: bold;
}

.black {
  color: black;
}

.white {
  color: white;
}

.nav-itens {
  cursor: pointer;
}

.menu-burguer-container {
  position: relative;
  display: none;
  align-items: center;
  height: 36px;
  width: 36px;
}
.menu-burguer,
.menu-burguer::before,
.menu-burguer::after {
  position: absolute;
  content: "";
  display: block;
  height: 4px;
  width: 36px;
  background-color: #fff;
  transition: all 0.5s;
}
.menu-burguer::before {
  transform: translateY(-12px);
}
.menu-burguer::after {
  transform: translateY(12px);
}
.menu-burguer-container.show .menu-burguer {
  background-color: transparent;
}
.menu-burguer-container.show .menu-burguer::before {
  transform: rotate(45deg);
}
.menu-burguer-container.show .menu-burguer::after {
  transform: rotate(-45deg);
}
@media (max-width: 865px) {
  .menu-burguer-container {
    display: flex;
    z-index: 1;
  }
  .text-container {
    background-color: #000;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 300;
    gap: 65px;
    transform: translate(100%);
    transition: all 1s;
  }
  .menu-burguer-container.show ~ .text-container {
    transform: translate(0);
  }
}
