.search-cep,
.search-number,
.search-complement {
  position: absolute;
  padding-left: 16px;
  font-size: 2rem;
  user-select: none;
  z-index: 1;
  color: var(--main-yellow);
}

.input {
  border: none;
  font-size: 1.2rem;
  font-family: "Poppins";
  padding-left: 50px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
  border-radius: 40px;
  height: 100%;
  width: 100%;
}

.inputs {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
}
