.container-foto-perfil {
  display: flex;
  width: 100%;
  padding: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.img-preview {
  display: flex;
  width: 100%;
  height: 100%;
}

.none {
  display: none;
}
.true {
  display: flex;
}

.input-picture[type="file"] {
  display: none;
}

.container-icon-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-icon-picture svg {
  font-size: 6rem;
}
