.container-foto-perfil {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.img-preview {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.form-picture-label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50%;
  width: 15vw;
}

.form-picture-label p {
  text-align: start;
  font-size: 1.4rem;
}

.none {
  display: none;
}
.true {
  display: flex;
}

.input-picture[type="file"] {
  display: none;
}

.container-icon-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: white;
}

.container-icon-picture svg {
  margin: 20px;
  height: 20vh;
}
