.container-main-choose-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.text-container-choose-page {
  width: 70%;
  text-align: center;
}

.choose-text {
  color: var(--text-color);
  font-size: 5rem;
  font-weight: 500;
}

.buttons-container {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 800px) {
  .container-main-choose-page {
    gap: none;
  }
  .choose-text {
    font-size: 2.2rem;
  }
  .buttons-container {
    flex-direction: column;
    gap: 40px;
  }
}
