.right-side {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 15vh;
}

.entry-text {
  color: var(--text-color);
  font-size: 3rem;
  font-weight: 600;
  width: 40%;
  text-align: center;
}

.google-register {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: white;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem 5rem;
  border-radius: 10px;
}

i {
  margin-right: 4rem;
}

.bottom-text {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.bold-text {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

@media (max-width: 1000px) {
  .entry-text {
    display: none;
  }
  .google-register {
    border-style: solid;
    border-color: black;
    font-size: 0.8rem;
    padding: 1em;
  }
  i {
    margin-right: 2em;
  }
  .right-side {
    gap: 20px;
    padding-bottom: 20px;
  }
}
