.container-all-main-contract {
  background-color: var(--main-yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 95%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
  gap: 50px;
}

.contrate-name {
  font-size: 4rem;
  font-family: "Mansalva", cursive;
  color: white;
  text-align: center;
}
.container-inputs-contrate {
  display: flex;
  height: 70%;
  justify-content: center;
  flex-direction: column;
}

.selects {
  border: none;
  border-radius: 10px;
  padding: 1.5rem 1.5rem;
  width: 20rem;
  font-size: 1.5rem;
  font-weight: 300;
  outline: none;
}

.inputs-content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.input-contents:nth-child(1) {
  display: flex;
  justify-content: center;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-container:nth-child(1) {
  gap: 50px;
}

.dropdown-container {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
}
