@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mansalva&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins";
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

button {
  cursor: pointer;
}

:root {
  --main-yellow: #e0b441;
  --text-color: #232323;
  --body-yellow: #fff7db;
  --button-contract-yellow: #ffda29;
}
